* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container {
    width:1024px;
    height:800px;
    overflow: hidden;
    margin:0 auto;
}

.page-container{
    display: flex;
    width:3072px;
    position: relative;
    left:-1024px;
    top:0;
}

.page {
    width:1024px;
    height:768px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

#gameCanvas{
    border: 1px solid #ddd;
}
#gmae-container{
    display: flex;
}