* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container {
    width:1024px;
    height:800px;
    overflow: hidden;
    margin:0 auto;
}

.page-container{
    display: flex;
    width:3072px;
    position: relative;
    left:-1024px;
    top:0;
    transition: all 1s;
}

.page {
    width:1024px;
    height:768px;
    border:1px solid #ddd;
    border-radius: 10px;
    padding:20px;
}

#gameCanvas {
    border:1px solid #ddd;
}

.game-container {
    display: flex;
    position: relative;
}

.info-box {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.row-box{
    display: flex;
    justify-content: space-between;
    width:300px;
    margin-bottom: 10px;
}

.next-block{
    border:1px solid #ddd;
    height: 110px;
    width:110px;
}

.score-box{
    border:1px solid #ddd;
    height: 110px;
    width:150px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnStart {
    border:1px solid rgb(17, 64, 192);
    background-color: rgb(45, 87, 201);
    color:#fff;
    padding: 10px 16px;
    border-radius: 5px;
    font-size: 20px;
}
#gameOverBox{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    opacity: 0;
    transition: all 0.5s;
}
#gameOverBox.on{
    opacity:1 ;
}
#gameOverBox >h2{
    font-size: 50px;
}